{% extends 'base.html' %}

{% block title %}
  About
{% endblock title %}

{% block content %}
<div class="mt-5">
  <div class="margin-dao">
    <div class="focus w-25 mx-auto">
      <h1>Hello</h1>
      <h1>
        <span class="color">I'm Osman Goni</span>
      </h1>
    </div>

    <div class="mt-5 w-100">
      <div class="about">
        <div class="w-50" style="margin-right:10px;">
          <h3 class="color text-center">About Me</h3>
          <p class="about-me">
            I am very passionate about Science, Math, Programming and
            Analytical skills. I invest a lot of time in solving algorithmic
            problems in online judges like UVa, LightOJ, etc and attending
            programming contests in many contest platforms like Codeforces,
            AtCoder, etc..
          </p>
        </div>
        <div class="w-50">
          <h3 class="color text-center">My Goals</h3>
          <p class="about-me">
          My Goal is to get a job in Google.That's why i prepare myself to proficient in problem solving.I love to learn different types of data structures and algorithms.I am also learning Web Development to get job after graduation.To achieve my goal i complete my daily task to daily.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}