{% extends 'base.html' %}

{% block title %}
  Categories
{% endblock title %}

{% block content %}
  <div id="my-category">
    
    <img src="/media/{{category.image}}" style="width:120px;height: 100px;" alt="Category Image Not Found">

    <h3>
      All the Tutorials of {{category.title}} can be found here
    </h3>
  </div>

  <ul class="list-group mt-3">
    {% for post in posts %}
    <li class="list-group-item">
      <a href="/post/{{post.url}}"> {{post.title}}</a>
    </li>

    {% empty %}
      <h3 class="fw-bold text-center text-success"> {{category.title}} Tutorial Will be Coming Soon. </h3>
  {% endfor %}
  </ul>

  
{% endblock content %}