<footer id="last-part" class="mt-5">
  <ul>
    <li>
      <h3>Osman's Planet</h3>
    </li>
    <li>
      <small>Copyright &copy; <span id="year"></span> Md. Osman Goni</small>
    </li>
    <li>
      <small>All rights reserved</small>
    </li>
    <li id="social-media">
      <a href="https://github.com/osman-goni-cse"><i class="fab fa-github"></i></a>
      <a href=""><i class="fab fa-facebook-messenger"></i></a>
      <a href="https://www.linkedin.com/in/osman-goni-swe/"><i class="fab fa-linkedin"></i></a>
      <a href=""><i class="fab fa-whatsapp"></i></a>
    </li>
  </ul>
</footer>

<script>

  let date = new Date();
  document.getElementById('year').innerText = date.getFullYear();

</script>