{% extends 'base.html' %}

{% block title %} Post {% endblock title %} 

{% block content %}
<div class="progress">
  <div class="progress__highlight" id="js-highlight"></div>
</div>
<div class="row">
  <div class="col-4">
    <ul class="list-group mt-5 post-list">
      {% for pst in posts %}
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="/post/{{pst.url}}">{{pst.title}}</a>
          {% comment %} <span class="badge bg-primary rounded-pill">14</span> {% endcomment %}
          {% comment %} <i class="fa-brands fa-apple"></i> {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-8">
    {% comment %} <p><strong>Post Name:</strong> {{post.title}}</p>
    <p><strong>Category Name:</strong> {{post.cat.title}}</p>
    <img
      src="/media/{{post.image}}"
      style="width: 300px; height: 300px"
      alt=""
    /> {% endcomment %}
    <br />
    <div id="js-container">
      <p>{{post.content | safe}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-md-8 card mb-4  mt-3 mx-auto">
    <div class="card-body">
    <!-- comments -->
      <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="col-4"></div>
  <div class="col-md-8 card mb-4  mt-3 mx-auto">

    <div class="card-body">
      {% if new_comment %}
      <div class="alert alert-success" role="alert">
      Your comment is awaiting moderation
      </div>
      {% else %}
      <h3 class="text-center">Leave a comment</h3>
      <form method="post" style="margin-top: 1.3em;">
        {% comment %} {{ comment_form.as_p }} {% endcomment %}
        {% csrf_token %}

        {% for field in comment_form %}
          {{field.label_tag}} <br>
          {{field}} <br>
        {% endfor %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
